<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <laybuy_laybuypayments>
                <model>LaybuyPaymentsFacade</model>
                <title>Laybuy</title>
                <payment_action>authorize_capture</payment_action>
                <active>0</active>
                <debug>1</debug>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>0</can_refund>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_edit>1</can_edit>
                <can_review_payment>1</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <order_status>processing</order_status>
                <sdk_url><![CDATA[https://sandbox-docs.laybuy.com]]></sdk_url>
                <paymentInfoKeys>result,token,orderId,amount,currency,merchantReference,processed</paymentInfoKeys>
                <privateInfoKeys>token,processed</privateInfoKeys>
            </laybuy_laybuypayments>
        </payment>
    </default>
</config>
