<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="LaybuyPaymentsFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\Laybuy\LaybuyPayments\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Laybuy\LaybuyPayments\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">LaybuyPaymentsValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">LaybuyPaymentsCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="LaybuyPaymentsGatewayConfig" type="Laybuy\LaybuyPayments\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Laybuy\LaybuyPayments\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <type name="Laybuy\LaybuyPayments\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Laybuy\LaybuyPayments\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </type>

    <!-- Logger, initialized with LaybuyPaymentsGatewayConfig -->
    <virtualType name="LaybuyPaymentsGatewayLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">LaybuyPaymentsGatewayConfig</argument>
        </arguments>
    </virtualType>

    <type name="Laybuy\LaybuyPayments\Gateway\Http\Client\Laybuy">
        <arguments>
            <argument name="config" xsi:type="object">LaybuyPaymentsGatewayConfig</argument>
            <argument name="logger" xsi:type="object">LaybuyPaymentsGatewayLogger</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="LaybuyPaymentsCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">LaybuyPaymentsAuthorizeCommand</item>
                <item name="capture" xsi:type="string">LaybuyPaymentsCaptureCommand</item>
                <!--<item name="void" xsi:type="string">SamplePaymentGatewayVoidCommand</item>-->
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorize command -->
    <virtualType name="LaybuyPaymentsAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">LaybuyPaymentsAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">LaybuyPaymentsResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">Laybuy\LaybuyPayments\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Laybuy\LaybuyPayments\Gateway\Http\Client\Laybuy</argument>
        </arguments>
    </virtualType>

    <!-- Authorization Request -->
    <virtualType name="LaybuyPaymentsAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Laybuy\LaybuyPayments\Gateway\Request\AuthorizationRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Laybuy\LaybuyPayments\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">LaybuyPaymentsGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Capture command -->
    <virtualType name="LaybuyPaymentsCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Laybuy\LaybuyPayments\Gateway\Request\CaptureRequest</argument>
            <argument name="handler" xsi:type="object">Laybuy\LaybuyPayments\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Laybuy\LaybuyPaymentsy\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Laybuy\LaybuyPayments\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Laybuy\LaybuyPayments\Gateway\Http\Client\Laybuy</argument>
        </arguments>
    </virtualType>

    <!-- Capture Request -->
    <type name="Laybuy\LaybuyPayments\Gateway\Request\CaptureRequest">
        <arguments>
            <argument name="config" xsi:type="object">LaybuyPaymentsGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Void command -->
    <!--<virtualType name="SamplePaymentGatewayVoidCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Magento\SamplePaymentGateway\Gateway\Request\VoidRequest</argument>
            <argument name="handler" xsi:type="object">Magento\SamplePaymentGateway\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Magento\SamplePaymentGateway\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Magento\SamplePaymentGateway\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Magento\SamplePaymentGateway\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>-->

    <!-- Void Request -->
    <!--<type name="Magento\SamplePaymentGateway\Gateway\Request\VoidRequest">
        <arguments>
            <argument name="config" xsi:type="object">SamplePaymentGatewayConfig</argument>
        </arguments>
    </type>-->

    <!-- Response handlers -->
    <virtualType name="LaybuyPaymentsResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">Laybuy\LaybuyPayments\Gateway\Response\TxnIdHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="LaybuyPaymentsValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">LaybuyPaymentsConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="LaybuyPaymentsConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">LaybuyPaymentsGatewayConfig</argument>
        </arguments>
    </virtualType>

    <type name="Laybuy\LaybuyPayments\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">LaybuyPaymentsGatewayConfig</argument>
        </arguments>
    </type>

</config>
