<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_laybuy_laybuypayments">
        <observer name="laybuy_laybuypayments_gateway_data_assign" instance="Laybuy\LaybuyPayments\Observer\DataAssignObserver" />
    </event>
</config>
